# Administrators
* @adevress @Amzashoo

# Grant Breakthrough and SETI rights on all their associated software
blade/ @luigifcruz
cyberether/ @luigifcruz

# Grant Astron people right on all their associated software
wsclean/ @aroffringa
aoflagger/ @aroffringa
pal/ @aroffringa
aocommon/ @aroffringa
cotter/ @aroffringa
